h1{
    font-family: "Barriecito";
}

h3{
    font-family: "Amatic SC";
}

.table{
    font-family: "Sniglet";
}

#userInput{
    font-family: "Sniglet";
}

.jumbotron{
    background-image: url("https://cdn.images.express.co.uk/img/dynamic/143/590x/Burnout-Paradise-921605.jpg");
    background-size: cover;
    padding-bottom: 210px;
}

#currentTrain{
    font-family:"Rubik Mono One";
    font-size: 30px;    
}

form{
    font-family: "Sniglet";    
}

#athdr{
    font-family: "Rubik Mono One";
}

input::placeholder{
    font-family: "Amatic SC";
}